<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Youtube Downloader</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" img/yt.png" rel="icon">
  
  <!-- Vendor CSS Files -->
  <link href=" vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href=" vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href=" vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href=" vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{{url_for('home')}}">YT Downloader</a></h1>
    
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto " href="/#work">Feature</a></li>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="hero route bg-image" style="background-color: black">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container" align=center>
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h2 class="mb-4 text-white">{{url.title}}</h2>
          <!-- <p class="hero-subtitle"><span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p> -->
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
          <!-- {%if value=="home"%}{%endif%} -->
          <img src="{{url.thumbnail_url}}" alt="Image not found" height="180px" width="320px" class="rounded mx-auto d-block mt-4 mb-4">
          <form action="{{url_for('download_video')}}" method="POST">
            <select name="itag" class="form-select ml-5" style="width:500px;text-align:center;" aria-label="Default select example">
                {%for i in url.streams.filter(progressive=True).all() %}  
                <option value="{{i.itag}}"> {{i.mime_type}}  {{i.resolution}}</option>
                {%endfor%}
            </select>
            <p class="lead mt-4">
                <button type="submit" value="Submit" class="btn btn-primary">Download</button>
            </p>
            </form>

        </div>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/purecounter/purecounter.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/typed.js/typed.min.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>